button {
  padding: 10px;

  font-weight: 700;
  color: #5e6879;
  border: 1px solid #5e6879;
  border-radius: 15px;

  transition: box-shadow, 400ms;

  &:hover {
    color: #0f2027;
    border-color: transparent;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
      5px 5px 9px rgba(94, 104, 121, 0.3);
  }

  &:active {
    color: #15e38a;
    border-color: transparent;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
      inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  }
}
