.gallery {
  padding-top: 110px;
  padding-right: 15px;
  padding-left: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.photo-card {
  position: relative;

  border-radius: 7px;
  overflow: hidden;
}

.info {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: space-around;

  color: #f5f5dc;

  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  opacity: 0.8;
}
.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.photo-card__icon {
  fill: currentColor;
}
